<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats text-center">
            <div class="card-footer">
                <p class="category">Dinheiro Disponível <i class="material-icons">attach_money</i></p>
                <h3 class="title">R$ {{ team?.budget }},00</h3>

            </div>
            <div class="card-footer">
                <div class="">
                    <button routerLink="/transfermarket" class="btn btn-button background-gray-3">Voltar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card">

        <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
            <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
    <span class="mat-title">Jogadores</span>
            </span>
            <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
    <span *ngIf="(selectable && !selectedRows.length) || !selectable" class="mat-title"></span>
            <span *ngIf="selectedRows.length && selectable" class="mat-body-1">0 item(s) selected</span>
            </span>
            <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Pesquisar" (searchDebounce)="search($event)"
                flex>
            </td-search-box>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card">
        <mat-divider></mat-divider>

        <mat-toolbar class="text-center">
            <table class="table">
                <thead class="text-gray">
                    <th>Jogador</th>
                    <th>Rating</th>
                    <th>Posição</th>
                    <th>Lance Atual</th>
                     <th>Lance Inicial</th>
                      <th>Tem Lance</th>
                    <th>Aprovado</th>
                    <th>Lance</th>                   
                </thead>
            </table>
        </mat-toolbar>
        <hr>

        <div>
            <md-card  *ngFor="let shop of filteredData" class="background-gray-2"> 
                <md-card-content>              
                <mat-expansion-panel style="margin-top: 10px;  margin-bottom: 10px;">
                    <mat-expansion-panel-header class="background-gray">                    
                        <div class="col-md-1">{{shop.name}}</div>
                        <div class="col-md-1"><span [ngClass]="getRatingColor(shop.rating)">{{shop.rating}}</span></div>
                        <div class="col-md-1">{{shop.position}}</div>
                        <div class="col-md-2">R$ {{shop.bidValue}},00</div>
                        <div class="col-md-2">R$ {{shop.originalValue}},00</div>
                        <div class="col-md-2"> <span><mat-checkbox [checked]="shop.hasBid" [align]="center" [disabled]="true" class="text-center"></mat-checkbox></span></div>
                        <div class="col-md-1"> <span><mat-checkbox [checked]="shop.bidAproved" [align]="center" [disabled]="true" class="text-center"></mat-checkbox></span></div>
                        <div class="col-md-1"><button mat-raised-button color="blue" class="background-gray-3" (click)="onBid(shop)"><i class="fa fa-gavel" aria-hidden="true"></i></button></div>
                    
                    </mat-expansion-panel-header>                    
                    <app-attributes-item [player]="shop.player"></app-attributes-item>                     
                </mat-expansion-panel>
                </md-card-content>
               
            </md-card>
        </div>




    </div>
    <div class="col-md-12">
        <div class="card">
            <div *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'primary'">
            </div>
        </div>
        <div class="card">
            <td-paging-bar #pagingBar2 [total]="transfermarketRest.totalElements" (change)="page($event)">
                <span td-paging-bar-label hide-xs>Registros por página:</span> {{pagingBar2.range}} <span hide-xs>de {{transfermarketRest.totalElements}}</span>
                <button mat-raised-button color="blue" (click)="onRefresh()" rel="tooltip" class="background-gray-4" title="Atualizar"><i class="fa fa-refresh"></i></button>
            </td-paging-bar>
        </div>
    </div>





</div>