<div class="col-lg-6 col-md-12">
    <div class="card">
        <div class="card-header" data-background-color="green">
            <h4 class="title">Seus Jogadores</h4>
            <p class="category">{{ team?.players.length}}</p>
        </div>
        <div class="card-content table-responsive">
            <table class="table table-hover">
                <thead class="text-success">
                    <th>Jogador</th>
                    <th>Posição</th>
                    <th>Rating</th>
                </thead>
                <tbody>
                    <tr *ngFor="let player of team?.players">
                        <td>{{ player.name }}</td>
                        <td><span class="label label-primary">{{ player.position}}</span></td>
                        <td><span class="label label-success">{{ player.rating}}</span></td>
                    </tr>                   
                </tbody>
            </table>
        </div>
    </div>
</div>