<md-progress-spinner *ngIf="loading" style="margin:0 auto;" [color]="color" [mode]="mode"></md-progress-spinner>

<md-card *ngIf="!loading" class="result">
    <div class="row">
        <div class="col-md-10">
            <md-card-title>Jogadores: {{transfermarkets?.length}}</md-card-title>
        </div>
        <div class="col-md-2">
            <md-card-title routerLink="/transfermarket" class="text-right"><span class="btn btn-primary">Voltar</span></md-card-title>
        </div>
    </div>
    <md-card-content>
        <div class="row">
            <div class="col-md-1">
                <md-card-subtitle>
                    <md-input-container>
                        <input mdInput placeholder="Jogador" [(ngModel)]="nameFilter" value="">
                    </md-input-container>
                </md-card-subtitle>
            </div>
            <div class="col-md-1">
                <md-card-subtitle>
                    <md-input-container>
                        <input mdInput placeholder="Posição" [(ngModel)]="positionFilter" value="">
                    </md-input-container>
                </md-card-subtitle>
            </div>
            <div class="col-md-1">
                <md-card-subtitle>
                    <md-input-container>
                        <input mdInput placeholder="Rating" [(ngModel)]="ratingFilter" value="">
                    </md-input-container>
                </md-card-subtitle>
            </div>
            <div class="col-md-1">
                <md-card-subtitle>
                    <md-input-container>
                        <input mdInput placeholder="Lance" [(ngModel)]="bidValueFilter" value="">
                    </md-input-container>
                </md-card-subtitle>
            </div>
            <div class="col-md-1">
                <md-card-subtitle>
                    <md-input-container>
                        <input mdInput placeholder="Lance Inicial" [(ngModel)]="originalValueFilter" value="">
                    </md-input-container>
                </md-card-subtitle>
            </div>
            <div class="col-md-2">
                <md-select placeholder="Tem Lance" [(ngModel)]="hasBidFilter">
                    <md-option [value]="true">Sim</md-option>
                    <md-option [value]="false">Não</md-option>
                </md-select>
            </div>
            <div class="col-md-2">
                <md-select placeholder="Vencendo" [(ngModel)]="bidAprovedFilter">
                    <md-option [value]="true">Sim</md-option>
                    <md-option [value]="false">Não</md-option>
                </md-select>
            </div>
            <div class="col-md-1 text-right">
                <button (click)="onRefresh()" type="button" rel="tooltip" title="Atualizar" class="btn btn-danger btn-simple btn-xs">
                    <md-card-title><i class="fa fa-refresh"></i></md-card-title>    
                </button>
            </div>
        </div>
    </md-card-content>
</md-card>

<div *ngIf="!loading">
    <div style="padding-bottom: 10px; padding-top: 5px" *ngFor="let transfermarket of transfermarkets | transferMarketNameFilter:nameFilter:positionFilter:ratingFilter:bidValueFilter | paginate: config ">
        <md-card class="example-card">
            <div class="row">
                <div class="col-md-1 text-center"><h4>{{transfermarket.name}}</h4></div>
                <div class="col-md-1 text-center"><h4>{{transfermarket.position}}</h4></div>
                <div class="col-md-1 text-center"><h4>{{transfermarket.rating}}</h4></div>
                <div class="col-md-1 text-center"><h4>R$ {{transfermarket.bidValue}},00</h4></div>
                <div class="col-md-1 text-center"><h4>R$ {{transfermarket.originalValue}},00</h4></div>
                <div class="col-md-1 text-center" *ngIf="transfermarket.hasBid" class="text-center"><h4>Sim</h4></div>
                <div class="col-md-1 text-center" *ngIf="!transfermarket.hasBid" class="text-center"><h4>Não</h4></div>
                <div class="col-md-1 text-center" *ngIf="transfermarket.bidAproved" class="text-center"><h4>Sim</h4></div>
                <div class="col-md-1 text-center" *ngIf="!transfermarket.bidAproved" class="text-center"><h4>Não</h4></div>
                <div class="col-md-1 text-center"><button class="btn btn-success" (click)="onBid(transfermarket)">Dar Lance</button></div>
            </div>
        </md-card>
    </div>

    <md-card class="example-card">
        <div class="text-center">
            <div class="has-text-centered">
                <h4>
                <pagination-controls [id]="config.id" [directionLinks]="directionLinks" [autoHide]="autoHide" [previousLabel]="labels.previousLabel"
                    [nextLabel]="labels.nextLabel" [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel" [screenReaderPageLabel]="labels.screenReaderPageLabel"
                    [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel" (pageChange)="onPageChange($event)"></pagination-controls></h4>
            </div>
        </div>
    </md-card>
</div>