<div class="main-content">
    <div class="container-fluid">
        <div class="row">           
                
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="card card-stats">
                          <div class="card-content">
                            <h3 class="category">Jogador <i class="fa fa-user" aria-hidden="true"></i></h3>
                            <md-input-container class="title">
                                <input mdInput placeholder="Filtar por Nome" [mdAutocomplete]="auto"  [formControl]="playerCtrl" [(ngModel)]="playerFilter.name">
                            </md-input-container>
                            <md-autocomplete class="title" #auto="mdAutocomplete">
                                <md-option (input)="onInputPlayer(player.name)" *ngFor="let player of filteredPlayers | async" [value]="player.name">
                                    {{player.name}}
                                </md-option>
                            </md-autocomplete>
                            <h3 class="title">{{ team?.manager }}</h3>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="card card-stats">
                          <div class="card-content">
                            <h3 class="category">Posição  <i class="fa fa-street-view" aria-hidden="true"></i></h3>
                            <md-input-container>
                                <input mdInput placeholder="Filtar por posição" [mdAutocomplete]="position" [formControl]="positionsCtrl" [(ngModel)]="playerFilter.position">
                            </md-input-container>
                            <md-autocomplete #position="mdAutocomplete">
                                <md-option *ngFor="let position of filteredPositions | async" [value]="position">
                                    {{position}}
                                </md-option>
                            </md-autocomplete>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="card card-stats">
                          <div class="card-content">
                            <h3 class="category">Liga <i class="fa fa-flag" aria-hidden="true"></i></h3>
                            <md-input-container>
                                <input mdInput placeholder="Filtar por Liga" [mdAutocomplete]="leagues" [formControl]="leaguesCtrl" [(ngModel)]="playerFilter.league">
                            </md-input-container>
                            <md-autocomplete #leagues="mdAutocomplete">
                                <md-option *ngFor="let leagues of filteredLeagues | async" [value]="leagues.name">
                                    {{leagues.name}}
                                </md-option>
                            </md-autocomplete>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="card card-stats">
                          <div class="card-content">
                            <h3 class="category">Rating  <i class="fa fa-star" aria-hidden="true"></i></h3>
                            <md-slider (input)="onInputRating($event)" class="example-margin" [max]="99" [min]="0" [step]="1" [thumb-label]="thumbLabel"
                            [value]="defaultvalue">
                        </md-slider>
                            {{playerFilter.rating}}
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12">
                          <button md-raised-button class="background-gray" (click)="onFilter(playerFilter)">Filtrar</button>
                      </div>
        
        </div>
    </div>
</div>