<h1 md-dialog-title class="primary-color">Características</h1>
<md-dialog-content class="accent-color">
    <table class="table">
        <thead class="text-danger">
            <th>Nome</th>
            <th>Posição</th>
            <th>Rating</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ data.name }}</td>
                <td>{{ data.position }}</td>
                <td><span [ngClass]="getAttributeColor(data.rating )"class="label">{{ data.rating }}</span></td>  
            </tr>
        </tbody>
    </table>   
    <table class="table">
        <thead class="text-primary">
            <th>Atributo</th>
            <th>Valor</th>

        </thead>
        <tbody>
            <tr *ngFor="let attribute of data.attributes">
                <td>{{ attribute.name }}</td>
                <td><span [ngClass]="getAttributeColor(attribute.value)"class="label">{{ attribute.value}}</span></td>               
            </tr>
        </tbody>
    </table>   
</md-dialog-content>