<div class="col-lg-6 col-md-12">
    <div class="card">
        <div class="card-header" data-background-color="blue">
            <h4 class="title">Seus Lances</h4>
            <p *ngIf="bidinfos?.length > 0" class="category">{{bidinfos?.length}}</p>
            <p *ngIf="bidinfos?.length <= 0" class="category">Você não possuí nenhum lance no momento.</p>
        </div>

        <div *ngIf="bidinfos?.length > 0" class="card-content table-responsive">
            <td-expansion-panel>
                <table class="table table-hover">
                    <thead class="text-primary">
                        <th>Jogador</th>
                        <th>Valor do Lance</th>
                        <th>Valor Inicial</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let bidinfo of bidinfos">
                            <td>{{ bidinfo.playerName }}</td>
                            <td>R$ {{ bidinfo.bidValue }},00</td>
                            <td>R$ {{ bidinfo.originalValue }},00</td>
                        </tr>
                    </tbody>
                </table>
            </td-expansion-panel>
        </div>
    </div>
</div>