<md-progress-spinner *ngIf="loading&&team" style="margin:0 auto;" [color]="color" [mode]="mode">
</md-progress-spinner>




<div *ngIf="!loading" class="col-md-8 col-md-offset-2">
    <md-card>
        <md-card-title>Time</md-card-title>
        <div>
            <md-card-content>
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <tr>
                            <th>Nome</th>
                            <td>
                                <h4>{{ team?.name }}</h4>
                            </td>
                        </tr>
                        <tr>
                            <th>Técnico</th>
                            <td>
                                <h4>{{ team?.manager }}</h4>
                            </td>
                        </tr>
                        <tr>
                            <th>Coins</th>
                            <td>
                                <h4><span class="label label-warning">R$ {{ team?.budget }},00</span></h4>
                            </td>
                        </tr>
                    </table>
                </div>
            </md-card-content>
        </div>
    </md-card>


    <div style="padding-bottom:10px; padding-top:20px">
        <div *ngIf="team?.players" class="row">
            <md-card class="example-card" style="padding-bottom: 10px; padding-top: 5px">
                <div class="row">
                    <div class="col-md-4">
                        <md-card-header>
                            <h4>Jogador</h4>
                        </md-card-header>
                    </div>
                    <div class="col-md-4">
                        <h4>Posição</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>Rating</h4>
                    </div>
                    <div class="col-md-1">
                        <h3>
                            <i class="material-icons">notifications</i>
                            <span class="notification"> {{team?.players.length}}</span>
                        </h3>
                    </div>
                </div>
            </md-card>

            <md-card-content>
                <div *ngFor="let player of team?.players" style="padding-bottom: 10px; padding-top: 5px">
                    <md-card class="example-card">
                        <div class="row">
                            <div class="col-md-4">
                                <md-card-header>
                                    <h4>{{ player.name }}</h4>
                                </md-card-header>
                            </div>
                            <div class="col-md-4">
                                <h4><span class="label label-primary">{{ player.position}}</span></h4>
                            </div>
                            <div class="col-md-3">
                                <h4><span class="label label-success">{{ player.rating}}</span></h4>
                            </div>
                        </div>
                    </md-card>
                </div>
            </md-card-content>
        </div>
    </div>
</div>
<div *ngIf="!team" class="col-md-8 col-md-offset-2">
    <md-card *ngIf="!team" class="text-center">
        <a class="btn btn-danger" routerLink="/team/create">Cadastrar Time</a>
    </md-card>
</div>