<md-card class="background-gray-3">
  <md-card-header>
    <img md-card-avatar src="{{player.headshotImgUrl}}">
  </md-card-header>
  <md-card-content>
    <table class="table">
      <thead class="text-gray">
        <th>Altura</th>
        <th>Peso</th>
        <th>Idade</th>
        <th>Perna Boa</th>
        <th>WR</th>
      </thead>
      <tbody>
        <tr>
          <td class="text-gray">{{ player.height }} cm</td>
          <td class="text-gray">{{ player.weight }}</td>
          <td class="text-gray">{{ player.age }}</td>
          <td class="text-gray">{{ player.foot }}</td>
          <td class="text-gray">{{ player.atkWorkRate  }} \ {{player.defWorkRate | truncate : 1 }}</td>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <thead class="text-gray">
        <th *ngFor="let at of player.attributes">{{ at.name}}</th>

      </thead>
      <tbody>
        <tr>
          <td *ngFor="let att of player.attributes"><span [ngClass]="getAttributeColor(att.value)">{{ att.value }}</span></td>
        </tr>
      </tbody>
    </table>
  </md-card-content>
</md-card>