<div class="col-md-12 text-left">
    <div layout="row" layout-align="start left" class="push-left-sm">
        <button md-raised-button color="blue" routerLink="/transfermarket" class="background-gray-3">Voltar</button>
    </div>
</div>

<div class="col-md-12">
    <div class="card">

        <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
            <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
    <span class="md-title">Jogadores</span>
            </span>
            <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
    <span *ngIf="(selectable && !selectedRows.length) || !selectable" class="md-title"></span>
            <span *ngIf="selectedRows.length && selectable" class="md-body-1">0 item(s) selected</span>
            </span>
            <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Pesquisar" (searchDebounce)="search($event)"
                flex>
            </td-search-box>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card">
        <md-divider></md-divider>

        <td-data-table #dataTable [data]="filteredData" [columns]="columns" [sortable]="true" [(ngModel)]="selectedRows" (sortChange)="sort($event)">
            <ng-template tdDataTableTemplate="rating" let-value="value" let-row="row" let-column="column">
                <div layout="row">
                    <span [ngClass]="getRatingColor(row.rating)">{{row.rating}}</span>
                </div>
            </ng-template>
            <ng-template tdDataTableTemplate="hasBid" let-value="value" let-row="row" let-column="column">
                <div layout="row">
                    <span><md-checkbox [checked]="value" [align]="center" [disabled]="true" class="text-center"></md-checkbox></span>
                </div>
            </ng-template>
            <ng-template tdDataTableTemplate="bidAproved" let-value="value" let-row="row" let-column="column">
                <div layout="row">
                    <span><md-checkbox [checked]="value" [align]="center" [disabled]="true" class="text-center"></md-checkbox></span>
                </div>
            </ng-template>
            <ng-template tdDataTableTemplate="attribute" let-value="value" let-row="row" let-column="column">
                <div layout="row">
                    <button md-raised-button class="background-gray-4" (click)="openDialog(row)"><i class="fa fa-blind" aria-hidden="true"></i></button>
                </div>
            </ng-template>
            <ng-template tdDataTableTemplate="bid" let-value="value" let-row="row" let-column="column">
                <div layout="row">
                    <button md-raised-button color="blue" class="background-gray-3" (click)="onBid(row)"><i class="fa fa-gavel" aria-hidden="true"></i></button>
                </div>
            </ng-template>

        </td-data-table>

    </div>
    <div class="col-md-12">
        <div class="card">
            <div *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'primary'">
            </div>
        </div>
        <div class="card">
            <td-paging-bar #pagingBar2 [pageSizes]="[20]" [total]="transfermarketRest.totalElements" (change)="page($event)">
                <span td-paging-bar-label hide-xs>Registros por página:</span> {{pagingBar2.range}} <span hide-xs>de {{transfermarketRest.totalElements}}</span>
                <button md-raised-button color="blue" (click)="onRefresh()" rel="tooltip" class="background-gray-4" title="Atualizar"><i class="fa fa-refresh"></i></button>
            </td-paging-bar>
        </div>
    </div>





</div>