        <md-progress-spinner *ngIf="loading" style="margin:0 auto;" [color]="color" [mode]="mode">
        </md-progress-spinner>


<div *ngIf="!loading">

    <div>
        <div *ngIf="bidinfos" class="row">
            <div class="col-md-12">
                <md-card class="example-card" style="padding-bottom: 10px; padding-top: 5px">
                    <div class="row">
                        <div class="col-md-4">
                            <h3>Jogador</h3>

                        </div>
                        <div class="col-md-4">
                            <h3>Valor do Lance</h3> 
                        </div>
                        <div class="col-md-3">
                            <h3>Valor Inicial</h3>
                        </div>
                        <div class="col-md-1">
                            <h3>
                                <i class="material-icons">notifications</i>
                                <span class="notification"> {{bidinfos?.length}}</span>
                            </h3>
                        </div>
                    </div>
                </md-card>


                <div *ngFor="let bidinfo of bidinfos" style="padding-bottom: 10px; padding-top: 5px">
                    <md-card class="example-card">
                        <div class="row">
                            <div class="col-md-4">
                                    <h4>{{ bidinfo.playerName }}</h4>
                            </div>
                            <div class="col-md-4">
                                <h4>R$ {{ bidinfo.bidValue }},00</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>R${{ bidinfo.originalValue }},00</h4>
                            </div>
                        </div>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
</div>